*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body{
  min-height: 100vh;
  background: #275087;
  font: 600 16px/18px 'Open Sans',sans-serif;
  overflow-y: hidden;
  overflow-x: hidden;
}

main{
  max-width: 1000px;
  min-height: 100vh;
  margin: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}

